<link rel="stylesheet" media="screen" href="bower_components/handsontable/dist/jquery.handsontable.full.css">

<!-- Content must be completely dynamic. That's why we don't specify columns here. -->
<div>
<hot-table id="my-table"
           settings="{width: '400', rowHeaders: true, colHeaders: true, contextMenu: true, fillHandle: true, type: 'numeric', format: '0.0[000]'}"
           datarows="matrix"

   >
</hot-table>
</div>

<div style="margin-top: 20px">
</div>

<button type="button" ng-click="output()">Output Model</button>
<button type="button" ng-click="createRandomData()">Create Random Data</button>
<button type="button" ng-click="refresh()">Refresh ("Repair")</button>
